* {
  background-color: rgb(255, 220, 255);
}

main {
  margin: 30px;
  padding: 10px;
}

button {
  background-color: violet;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin: 10px;
}
.app-body {
  display: flex;
  gap: 2rem;
}

.people-search {
  width: 40%;
  min-width: 600px;
  max-width: 800px;
  flex-shrink: 0;
}

.detail-sidebar {
  flex: 1;
  width: 300px;
  padding: 1rem;
  border-left: 1px solid #ccc;
}

.search-bar {
  width: 250px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#search-input {
  height: 20px;
  border-radius: 5px;
}

.results {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}